[Desktop Entry]
Name=Redesk
NoDisplay=true
MimeType=x-scheme-handler/redesk;
TryExec=redesk
Exec=redesk %u
Icon=redesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=redesk
